<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/ormsite-base.css" />
</head>
<body>
    <div>111111111111</div>
    {% block content %}
        <div>
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </div>
    {% endblock %}
    {% block footer %}
        <div>
            footer------------->
        </div>
    {% endblock %}
</body>
</html>